<% layout("_layout") %>
<%= errors[0] %>
<div class="container pt-big pb-4 w-100 h-100">
  <div class="d-flex w-100 h-100 justify-content-center align-items-center">
    <div class="text-center pb-5">
      <h1 class="display-5 fw-bold mb-5">Welcome to Wallpapers</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">A website containing beautiful wallpapers for all your devices. You are free to share your own or look at already shared ones.</p>
        <div class="fontawesome-big mb-4">
          <i class="fa-solid fa-image"></i>
        </div>
        <div class="d-grid d-sm-flex justify-content-sm-center">
          <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href="/wallpapers">See wallpapers</a>
        </div>
      </div>
    </div>
  </div>
</div>