<% if(user) { %>
<form action="<%= commentLink %>" class="mt-4" method="POST">
  <div class="mb-3">
    <label for="comment" class="form-label">Comment on Wallpaper</label>
    <textarea class="form-control" id="comment" rows="3" name="comment[text]" required placeholder="type in comment ..." minlength="10"></textarea>
  </div>
  <div class="d-grid">
    <button class="btn btn-primary" type="submit" disabled id="comment-submit"><i class="fa-solid fa-comment"></i> Submit comment</button>
  </div>
</form>
<% } %>